
body {
  background:linear-gradient(to bottom right,
  #f2f2f2,
    #ffff,
    
  );
  color:#140021;
  font-family: Poppins;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/*Home page styles.........................................home page styles*/

.styled-text {
  display: flex;
  align-items: center;
  font-size: 1.25rem; /* Adjust size */
  font-weight: 600; /* Semi-bold */
  color: #e04348; /* Airbnb red color */
  margin: 0; /* Remove default margin */
  padding: 10px 20px; /* Add padding */
  border: 2px solid #e04348; /* Airbnb red color for border */
  border-radius: 5px; /* Rounded corners */
  display: inline-flex; /* Inline flex to align items */
  align-items: center; /* Center items vertically */

  text-align: center; /* Center text */
  text-transform: capitalize; /* Capitalize first letters */
}

.styled-text .react-icons {
  margin-right: 0.5rem; /* Space between icon and text */
  color: #e04348; /* Airbnb red color for icon */
}



.hero h1 {
  font-weight: 700;
  font-size: 40px;
  margin: 5px 0 10px;
  line-height: 45px;
}
.hero-text{
 margin-right: 10px;
}
.hero-text p{
  margin-bottom: 10px;
}
.hero img{
  width: 100%;
  margin: 15px 0;
  border-radius: 5px;
}
.hero a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  background-color: #FF5A5F;
  border: none;
  width: 180px;
  padding-block: 0.75rem;
  color: white;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}
.hero a:hover{
  background-color: #ec2930;
}
.hero{
  padding: 10px 20px;
}

@media (min-width: 900px) {
  .hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px;
  }
 
 
  .hero h1 {
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;
   
  }
  .hero-text{
    margin-right: 70px
  }
  .hero-text p {
    margin-bottom: 10px;
    width: 380px;
  }
  .hero-image{
    margin: 0;
    padding: 0;
  }
  .hero-image img {
    width: 500px;
    border-radius: 5px;
    margin: 20px 0;
  }
  .hero a {
    text-align: center;
    text-decoration: none;
    background-color: #FF5A5F;
    border: none;
    width: 180px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
  }
  .hero a:hover {
    background-color: #161616;
  }
}


/* Popular Section */
.popular-section {
  padding: 10px 20px;
}
.popular-section p {
  font-size: 18px;
  font-weight: 400;
  width: 230px;
  margin-bottom: 15px;
}

/* Media Queries */
@media (min-width: 900px) {
  .popular-section {
    padding: 20px 80px;
  }
  .popular-section p {
    font-size: 23px;
    font-weight: 400;
  }
  
  
}

/*about page styles.........................................about page styles*/
/* General Styles */
.about {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
}

.about-image {
  width: 500px;
  max-width: 100%;
  border-radius: 6px;
  /* Ensure the image doesn't overflow on smaller screens */
}
.about-images {
  display: flex;
}
.about-ps{
 order: 1;
 
}
.info {
  padding: 10px 70px;
}

.about-main3 {
  margin-left: 30px;
  order: 2;
}

.about-main2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;
  margin-bottom: 30px;
}

.info h2 {
  font-weight: bold;
  font-size: 40px;
  padding: 10px 0;
}

.info p {
  padding: 10px 0;
}

.about-main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-main h2 {
  padding: 10px 20px;
}

.person1 {
  width: 100%;
  border-radius: 6px;
}

.about-link {
  text-align: center;
  text-decoration: none;
  background-color: #FF5A5F;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  margin-left: 20px;
  padding: 10px 20px;
}
.about-link:hover{
  background-color: #ec2930}

/* Responsive Styles */
@media (max-width: 768px) {
  .about {
    flex-direction: column; /* Stack elements vertically */
    padding: 20px 10px;
  }
  .about-ps{
    padding: 10px 20px;
    margin-top: 20px;
    order: 2;
  }
  .about-link {
    margin-top: 10px;
    
  }
  .about-image{
    width: 100%;
    border-radius: 6px;
  }

  .info {
    padding: 10px 20px;
  }

  .about-main2 {
    flex-direction: column;
    padding: 20px 10px;
  }

  .about-main3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 0;
    margin-top: 20px;
    order: 1;
  }
  .about-main{
    display: flex;
    flex-direction: column;
  }
  .about-link {
    margin-left: 0;
    margin-top: 20px;

  }

  .info h2 {
    font-size: 30px; /* Adjust font size for smaller screens */
  }

  .person1 {
    width: 100%; /* Adjust image size for smaller screens */
  }
}

@media (max-width: 480px) {
  .about {
    padding: 0px 5px;
  }

  .info {
    padding: 10px 15px;
  }

  .about-main2 {
    padding: 0px 5px;
  }

  .about-link{
   padding: 10px 20px;
  }

  .info h2 {
    font-size: 24px; /* Further adjust font size for smaller screens */
  }

  .person1 {
    width: 100%; 
    
    object-fit: cover;/* Further adjust image size for smaller screens */
   
  }
}

/* Listings styles */
.listings-container {
  padding: 0 20px;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  /* Changed 'left' to 'flex-start' for better alignment */
}

.search-bar {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.search-bar input,
.search-bar select,
.search-button {
 
  border: 1px solid #ccc;
  border-radius: 5px;
  flex: 1;
  min-width: 150px; /* Ensures each input has a minimum width */
}

.price-availability-container {
  display: flex;
  gap: 5px;
  flex: 1;
  width: 100%; /* Adjust as necessary for your layout */
}

.search-bar .search-button {
  display: inline;
  flex: none; /* Prevents the button from stretching */
  background-color: #007BFF;
  color: white;
  cursor: pointer;
  border: none;
  padding: 15px 20px;
  width: 100%; /* Ensures the button has a minimum width */
}

@media (max-width: 768px) {
  .search-bar input,
  .search-bar select,
  .search-button {
    flex: 100%; /* Makes each input take full width on small screens */
  }
  .price-availability-container {
    flex-direction: column;
  }
}


@media (max-width: 768px) {
  .search-bar input,
  .search-bar select,
  .search-button {
    flex: 100%; /* Makes each input take full width on small screens */
  }
}


/* Media queries for larger screens */
@media (min-width: 900px) {
  .listings-container {
    flex-wrap: wrap; /* Allow wrapping if necessary */
    padding: 0 80px; /* Adjust padding */
  }
  .listings-container h2{
    margin-bottom: 15px;
  }
  .filters-container {
    justify-content: space-between; /* Adjust spacing for larger screens */
     /* Increase margin if needed */
  }
  .fills p{ 
    margin-right: 20px;
  }
  .fills{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
}


/*Details page styles.........................................Detailsss page styles*/

.details-container {
  padding: 0 20px;
}
.mySwiper {
  width: 100%;
  height: 300px;
}
.images{
  
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
  
}

.details-container a {
  color: #4d4d4d;
}

.details {
  margin-top: 10px;
}

.text-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}
.text-header h2{
  font-size: 22px;
}
.host-info {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.host-info p {
  margin: 0;
}

.host-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 5px;
  object-fit: cover;
}

.category {
  border: none;
  background-color: #767676;
  padding: 5px;
  border-radius: 5px;
  margin-top: 10px;
  color: #ffff;
  font-family: Poppins;
  margin-right: 10px;
}

.contactHost {
  text-decoration: none;
  width: 100%;
  background-color: #FF5A5F;
  border: none;
  padding: 12px;
  border-radius: 7px;
  font-size: 18px;
  margin-top: 10px;
  font-weight: bold;
  color: #fff7ed;
  font-family: poppins;
}

.more-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gallery{
  display:flex;
  align-items: center;

}




 .thumbnails img {
  width: 303px;
  height: 130px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 6px;
  margin-right: 10px;
}

.thumbnails {
 
 position: relative;
}

.more-images p {
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#161616;
  color: white;
  cursor: pointer;
  border-radius: 6px;
  top: 0;
}

.offers-header {
  font-size: 21px;
  font-weight: 450;
}

.offers {
  margin-left: 30px;
}
.main-image img{
  width:550px;
  height: 270px;
  border-radius: 5px;
  margin-right: 10px;
}
@media (min-width: 650px) {
  .main-image img{
    max-width: 98%;
    border-radius: 5px;
    margin-right: 10px;
  }
  .thumbnails{
   width: 60%;
  }
  .thumbnails img {
    width: 45%;
    object-fit: cover;
    cursor: pointer;
    border-radius: 6px;

  }
  .text-content2{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-right: 50px;
  }
  .text-content{
    width: 50%;
  }
}
@media (min-width: 900px) {
  
  .details-container {
    padding: 10px 80px;
  }


}
/*logging page styles.........................................loginnn page styles*/
.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  text-align: center;
}

.login-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.lform{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease;
  font-family: poppins;
  margin-bottom: 10px;
}



.auth-button {
    width: 100%;
    padding: 10px;
    background-color: #FF5A5F;
    color: #fff7ed;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: poppins;
}

.auth-button:hover {
  background-color: #ec2930;
}

.auth-footer {
  margin-top: 20px;
  font-size: 14px;
  color: #666;
}

.auth-footer a {
  color: #FF5A5F;
  text-decoration: none;
  margin-left: 5px;
}

.auth-footer a:hover {
  text-decoration: underline;
  color: #ec2930;
  font-weight: bold;
}


.signup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  text-align: center;
}
.signup-container h2 {
  margin-bottom: 20px;
}

.signup-form{
  display: flex;
  align-items: center;
  flex-direction:column;
  padding: 20px 0;
  width: 100%; 
  
 
}
.signup-form input{
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease;
  font-family: poppins;
  margin-bottom: 10px;
}
.contain{
  padding: 0px;
  width: 90%;
}

.input-field:focus {
  border-color: #FF5A5F;
  outline: none;
}


.radio-contain{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

.radio {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

input[type="radio"] {
  margin:0;
  padding: 0;
}
input{
  padding: 10px 20px;
}
.inn{
  margin: 0;
}

.radio label {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.radio label span {
  margin: 0;
}

.radio input[type="radio"]:disabled + span {
  color: gray;
  cursor: not-allowed;
}

.signup-button {
  width: 100%;
  padding: 10px;
  background-color: #FF5A5F;
  color: #fff7ed;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: poppins;
  margin-bottom: 10px;
}

.signup-button:hover {
  background-color: #ec2930;
}
@media(min-width:500px) {

  .signup-button{
    width:100%;
  }
  .contain{
    display: flex;
    align-items: center;
    width: auto;
  }
}
.contain img{
  display: none;
 }
@media(min-width:950px) {
  .contain img{
    display:block;
    margin-right: 50px;
   }
   .faces{
    margin: 0;
   }
}

.login-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-link-container p {
  margin-right: 5px;
}

.login-link-container a {
  color: #FF5A5F;
  text-decoration: none;
}

.login-link-container a:hover {
  color: #ec2930;
}
.password-container {
  position: relative;
  width: 100%;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 40%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 0.9em;
  color: #FF5A5F;
  font-family: poppins;
}
.password-requirements {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}

/*.......................hosttt dashhhh boarddddd .........................*/

.host-dashboard{
  background-color: #ffead0;
  padding: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}
.host-dashboard a{
  margin-right: 20px;
}
.host-dashboard  h1 {
  font-size: 36px;
  color: #161616;
  margin: 0;
}

.host-dashboard p {
  color: #161616;
}

.host-dashboard span {
  text-decoration: underline;
  font-weight: bold;
}

.host-dashboard h2 {
  margin: 0;
  font-size: 38px;
  color: #161616;
  font-weight: 900;
}

.host-dashboard-reviews2 {
  background-color: #ffddb2;
  padding: 25px 20px;
  display: flex;
  align-items: center;
}

.host-dashboard-reviews2 h2 {
  margin: 0;
  color: #161616;
}

.host-dashboard-reviews2 .star {
  color: #ff8c38;
  margin-left: 15px;
  font-size: 25px;
}
section a{
  color: #4d4d4d;
}
.host-dashboard-reviews2 p {

  font-size: 20px;
  color: #4d4d4d;
  margin-right: auto;
}

.host-dashboard-reviewsp p > span {
  font-weight: bold;
  color: #161616;
}

/*.................................Create post form css..................................*/

/* Components.css */
::-webkit-file-upload-button{
  border:none;
  border-radius: 3px;
  padding: 3px ;
}
.container2 {
  padding: 20px;
}
.form-row{
  display: flex;
}
.listing-form label {
  display: block;
  margin-bottom: 8px;
}
.half {
  margin-right: 30px; /* Adjust this value as needed */
  
}
.container2 h3{
  text-align: center;
}

.listing-form input[type='text'],
.listing-form input[type='number'],
.listing-form textarea {
  width: calc(100% - 10px);
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.category:hover{
  background-color: #e67e22;
  cursor: pointer;
}

.listing-form textarea {
  resize: vertical;
}
.file-input {
  width: calc(100% - 10px);
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;

}
.listing-form button {
  background-color: #ff8c38;
  color: #fff;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.listing-form button:hover {
  background-color: #161616;
}
select {
  width: 100%;
  height: 42px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffff;
}

select:focus {
  outline: none;
  border-color: #5b9dd9;
  box-shadow: 0 0 5px #5b9dd9;
}

option {
  font-size: 18px;
}

/**/


.badge-container {
  position: absolute;
  top: 10px;
  left: 7px;
}

.badge {
  padding: 5px 10px;
  border-radius: 1px;
  font-size: 12px;
  color: white;
  font-weight: bold;
}

.badge-available {
  background-color: green;
}

.badge-not-available {
  background-color: #e04348;
}

.availability-toggle {
  margin-top: 10px;
  padding: 5px 9px;
  border: none;
  background-color: #007bff;
  color: white;
 border-radius: 5px;
  cursor: pointer;
}

.availability-toggle:hover {
  background-color: #0056b3;
}

.host-listing-card {
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  padding: 10px 8px;
  border-radius: 7px;
  margin-bottom: 10px;
  position: relative;
}
.host-listing-card img{
  margin-right: 10px;
  border-radius: 7px;
  width: 120px;
  height: 80px;
  object-fit: fill;
}
.host-listing-card h3{
  margin: 0;
  padding: 0;
  font-weight: 500;
}
.host-listing-card p{
  margin: 0;
  padding: 0;
  color:#4d4d4d;
}
.host-listing-card-info{
  padding: 0;
}
.hosts-listings{
  padding: 0 20px;
}
.linky{
  text-decoration: none;
  color: #4d4d4d;
}
.title2{
  margin: 10px 0;
}


/*............................*/
.host-details-container{
  margin: 15px 20px;
  padding: 15px 10px;
  background-color: #f1f1f3;
  border-radius: 7px;
  box-shadow: 0 0px 1px rgba(0, 0, 0, 0.1); 
}
.host-details-header{
   display: flex;
   align-items: center;
}
.host-details-header img{
   width: 40%;
   margin-right: 10px;
   border-radius:7px;
}
.host-details-header-info p{
   margin: 0;
   font-weight: 400;
}
.host-details-header-info h3{
  margin: 0;
  font-weight: bold;
  font-size: 21px;
}
.host-category{
  color:#4d4d4d;
  background-color: #ffcc8d;
  padding: 4px 6px;
  border-radius: 5px;
  border: none;
}

/*...............................*/
.HostlistingPhotos{
  width: 140px;
  height: 80px;
  border-radius: 7px;
  margin: 0px 10px 5px 0 ;
  object-fit: fill;
}
.host-details-nav{

  margin-bottom: 10px;
  padding: 10px 0;
}
.host-details-nav a{
  text-decoration: none;
  margin-right: 5px;
  color: #4d4d4d;
}

/*......................*/
.profile-container {
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
  height: 80vh;
}

.profile-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-picture {
  border-radius: 50%;
  margin-right: 15px;
  width: 80px;
}

.profile-email {
  font-size: 1.2rem; /* Adjust font size as needed */
  color: #333;
  margin: 0;
  overflow: hidden; /* Ensures text doesn't overflow its container */
  white-space: nowrap; /* Prevents text from wrapping */
  text-overflow: ellipsis; /* Adds ellipsis (...) for overflowed text */
}

.sign-out-button1 {
  background-color: #161616;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sign-out-button1:hover {
  background-color: #e04348;
}

.delete-btn{
  border:none;
  background: transparent;

}
.delete-section{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icon{
  font-size: 18px;

}
.button-container{
  margin-bottom: 20px;
}

/*get to know us*/
/* src/App.css */

.get-to-know-us {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
  gap: 10px;
}

.profile-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;


}

.profile-image {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.profile-title {
  color: #4d4d4d;
  font-weight: bold;
  margin: 0;
}

.svg-image {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}
.description{
  width: 250px;
}

@media (max-width: 405px) {
.profile-image {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.profile-title {
  color: #4d4d4d;
  font-weight: bold;
  margin: 0;
  font-size: 15px;
}
.description{
  width: 100%;
}

}

@media (min-width: 900px) {
  .get-to-know-us {
    padding: 0px 80px;
  }
}

@media (min-width: 1200px) {
  
  .get-to-know-us {
    padding: 0px 80px;
  }
}

/**/
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 5px;
}

.profile-email {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.profile-actions {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.custom-file-upload {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 50%;
  background-color: #f0f2f5;
  margin-right: 10px;
}

.add-icon {
  font-size: 24px;
  color: #4267B2; /* Facebook blue */
}

#file-upload {
  display: none;
}

.upload-button {
  background-color: #4267B2; /* Facebook blue */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.profile-delete-button {
  background-color: #e4e6eb;
  border: none;
  color:#4267B2;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
}

.sign-out-button1 {
  background-color: #161616;
  border: 1px solid #ccc;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
/**/
.more-info {
  display: flex;
  justify-content: space-between;
}

.room-list {
  flex: 1;
  margin: 0 10px;
}

.room-list h4 {
  margin-bottom: 5px;
}

.room-list p {
  margin: 5px 0;
}
/**/
.label1 {
  font-weight: 450;
}



/**/
.problem-statement-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
 
}
.video-container video{
  width: 100%;
}


.text-container {
  flex: 1 1 45%;
  max-width: 500px;
  text-align: left;
}
@media (max-width:600px) {
  .video-container {
    margin: auto;
   }
}
.text-container h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.text-container p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 20px;
}

.text-container h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 15px;
}
.video-container {
  display: flex;
  align-items: center;
  justify-content: center;
  

}
@media (min-width: 900px) {
  .problem-statement-section {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      padding: 30px 80px;
  }
  .video-container {
    display: flex;
    align-items: center;
    justify-content: center;
    
  
  }
  
}
.load-more-btn{
  border:none;
  padding: 10px 15px;
  margin: auto;
  font-family: poppins;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: #161616;
}


/*CHART STYLE...................................................*/










/* styles.css */

/* Base styling for the link */
.link-button {
  font-family: poppins;
  display: inline-block;
  margin-top: 20px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  background-color: #e04348; /* Bright blue background */
  text-align: center;
  text-decoration: none;
  border-radius: 6px;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

/* Hover effect for the link */
.link-button-hover:hover {
  background-color: #ec2930; /* Darker blue for hover effect */
  transform: scale(1.05); /* Slightly enlarges the button on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds shadow on hover */
}

/* Focus effect for accessibility */
.link-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(52, 152, 219, 0.5); /* Focus ring */
}


/*progress bar*/

.progress-bar {
  width: 100%;
  height: 5px;
  background-color: #ddd;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
  margin-top: 30px;
}

.progress-bar div {
  height: 100%;
  background-color: #ff5a5f;
  transition: width 0.3s ease;
}

.form-section{
  margin-top: 30px;
}
.form-section input{
  font-family: poppins;
}
.form-section textarea, input:focus{
  border: 1px solid #ff5a5f;
}
.fade {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;

}

.fade-active {
  opacity: 1;
 
}

.preview-data {
 
  border-radius: 8px;
  margin-bottom: 20px;
}
.preview-title {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #333;
}

.preview-info {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 20px;
}

.preview-item {
  flex: 1 1 45%;
}

.preview-label {
  font-weight: bold;
  color: #555;
}

.preview-value {
  display: block;
  margin-top: 5px;
  color: #333;
}

.preview-images {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.preview-image {
  width: 100%;
  max-width: 120px;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

/***/

.search-bar {
  position: relative;
  margin-bottom: 20px;
}

.search-input {
  width: 100%;
  padding: 15px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.suggestions-list {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 100%; /* Position below the search input */
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
  border-top: none;
  background: #fff;
  z-index: 10;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
}

.suggestion-item:hover {
  background: #f0f0f0;
}

.back-button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
  font-size: 16px;
}

.back-button:hover {
  background-color: #0056b3;
}
.tip {
  border: 1px solid white;
  border-left: 4px solid #ff5a5f;
  padding: 10px;
  margin: 15px 0;
  border-radius: 4px;
}
.tip2 {
  border: 1px solid white;
  
  border-left: 4px solid #ff5a5f;
  padding: 10px;
  margin-top: 100px;
  margin-bottom: 20px;
  border-radius: 4px;
}
.submit-button {
  background-color: #ff5a5f;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
}

.submit-button:disabled {
  background-color: #ff5a5f;
  color: #FFF;
  cursor: not-allowed;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Subtle shadow for disabled state */
  opacity: 0.7; /* Faded appearance */
  transition: background-color 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
  animation: pulse 1.5s infinite;
}

.submit-button:not(:disabled):hover {
  background-color: #e63238;
}

.submit-button:disabled::after {
  content: 'Creating...';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: #FFF;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  pointer-events: none; /* Ensures text doesn't interfere with clicking */
}
.navigation-buttons button{
  background-color: #ff5a5f;
  font-family: poppins;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 10px rgba(224, 161, 66, 0.3);
  }
  50% {
    box-shadow: 0 0 20px rgba(224, 161, 66, 0.6);
  }
  100% {
    box-shadow: 0 0 10px rgba(224, 161, 66, 0.9);
  }
}
/**********************************************************/
.modal {
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 1000;
  opacity: 0;
  animation: fadeIn 0.3s forwards;
}

.fade-in {
  animation: fadeIn 0.3s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.modal-content {
  position: relative;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.apply-button {
  margin-top: 10px;
  padding: 10px 0px;
  width: 100%;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: poppins;
}

.close-button {
  position: absolute;
  top: 0;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
.lradio{
  margin-right: 10px;
}

.action-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.school-selection {
  display: flex;
  overflow-x: auto;
  width: 100%;
  margin: 20px 0;
}
.school-selection::-webkit-scrollbar {
  display: none;
}

.school-button {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: #f9f9f9;
  cursor: pointer;
  white-space: nowrap;
  border:none;
  margin-right: 10px;
  font-family: poppins;

}

.school-button.active {
  background-color: #ddd;
}

.action-button {
  padding: 10px 15px;
  border: none;
  background-color: transparent;
  font-size: 15px;
  cursor: pointer;
  border:none;
  font-family: poppins;
}
/**************************************************/
/* TermsAndConditions.css */

.terms-container {
  padding: 20px;

  max-width: 600px;
  margin: 0 auto;
}

.terms-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #333;
}

.terms-content {
  font-size: 1rem;
  line-height: 1.6;
  color: #555;
  margin-bottom: 1.5rem;
}

.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.terms-checkbox {
 
}

.terms-label {
  font-size: 0.9rem;
  color: #333;
}
.terms-label {
  font-size: 0.9rem;
  color: #333;
  text-align: left;
  cursor: pointer;
}
.defff {
  color: red;
  text-decoration: none;
  margin-bottom: 10px;
}
.defff:hover{
  text-decoration:underline;
}
.back-button{
  margin-right: 10px;
  
}
button{
  font-family: poppins;
}
.image-upload{
  border: 1px solid #fff;
}